{% extends 'base_layout.jinja2' %}

{% block content %}
<ul>
    <li><a href="{{ url('demo.filters_jinja2') }}">jinja2 - filters</a></li>
    <li><a href="{{ url('demo.param_url', foo=10, bar=20) }}">pass parameters to view function</a></li>
</ul>
{% endblock %}
