{% extends 'base_layout.jinja2' %}

{% block content %}
    <h2>Django REST frakework</h2>
    <ul>
        <li><a href="/api/v1/users/0">/api/v1/users/0</a></li>
        <li><a href="{{ url('v1.user_detail', pk=1) }}">/api/v1/users/1</a></li>
    </ul>
{% endblock %}
